.card-300{
    width:300px;
    height:400px;
    border:10px dotted rgba(15, 13, 2, 0.08);
    border-radius:10px;
    overflow:hidden;background:#fff;
    display:flex;
    flex-direction:column;
}
.card-300 img{
    width:100%;
    height:45%;
    object-fit:cover
}
.card-300 .card-body{
    padding:0.75rem;
    flex:1;
    display:flex;
    flex-direction:column
}
.card-300 .card-footer{
    padding:0.75rem
}