.flex-gallery{
    display:flex;
    flex-wrap:wrap;
    gap:0.6rem;
    justify-content:center;
    align-items:center
}
.flex-gallery a{
    width:30%;min-width:160px;text-align:center}
.flex-gallery img{
    width:100%;height:150px;object-fit:cover;
    border-radius:6px}